<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gymbo Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="client/public/style.css">
</head>

<body>
    <div class="main-container center">
        <header>
            <h1>GYMBO</h1>
        </header>
        <h1>Welcome to GymBo!</h1>
        <div class="login-register">
            <h2>First time?</h2>
            <a class="a-btn" href="register">Register</a>
            <h2>Already have an account?</h2>
            <a class="a-btn" href="login">Login</a>
        </div>
    </div>
    <footer class="footer">
        <p>Made by <a class="contact" href="https://github.com/luisclaudioc">@luiscostantin</a></p>
    </footer>
</body>
</html>