<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gymbo Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="client/public/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-container center roboto-slab-titles">
        <header>
            <h1>GYMBO</h1>
        </header>
        <h1>Welcome to GymBo</h1>
        <p>The easiest way to keep track of your workout plan.</p>
        <img src="/client/public/images/workout.png" alt="image of some gym weight">
        <div class="login-register">
            <h2>First time?</h2>
            <a class="a-btn" href="register">Register</a>
            <h2>Already have an account?</h2>
            <a class="a-btn" href="login">Login</a>
        </div>
    </div>
    <footer class="footer">
        <p>Made by <a class="contact" href="https://github.com/luisclaudioc">@luiscostantin</a></p>
    </footer>
</body>
</html>