<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gymbo Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="client/public/style.css">
</head>

<body>
	<div class="main-container">
		<header>
			<h1>GYMBO</h1>
		</header>
		<h1>Good to see you again!</h1>
		<h2>Login to your account:</h2>
		<form class="center" action="" method="post">
			<label for="username">Username:</label>
			<input id="username" name="username" type="text" required />
			<label for="password">Password:</label>
			<input id="password" name="password" type="password" required />
			<input class="submit-btn" type="submit" value="Login">
		</form>
		<footer>
			<p>Don't have an account? <a class="link" href="/register">Register</a></p>
		</footer>
	</div>
	<footer class="footer">
        <p>Made by <a class="contact" href="https://github.com/luisclaudioc">@luiscostantin</a></p>
    </footer>
</body>
</html>