<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gymbo Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="client/public/style.css">
</head>

<body>
    <div class="main-container">
        <header>
            <h1>GYMBO</h1>
        </header>
        <h1>Ready to start?</h1>
        <h2>Create your account:</h2>
        <form class="center" action="" method="post">
            <label for="firstname">First name:</label>
            <input id="firstname" name="firstname" type="text" />
            <label for="lastname">Last name:</label>
            <input id="lastname" name="lastname" type="text" />
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" />
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" />
            <input class="submit-btn" type="submit" value="Register">
        </form>
        <footer>
            <p>Already have an account? <a class="link" href="/login">Login</a></p>
        </footer>
    </div>
    <footer class="footer">
        <p>Made by <a class="contact" href="https://github.com/luisclaudioc">@luiscostantin</a></p>
    </footer>
</body>
</html>
